html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 95.67%
    ),
    radial-gradient(
      32.03% 49.35% at 75.86% 47.36%,
      #06433f 0%,
      #1e093a 50%,
      #0f1020 100%
    );
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
